![sql](img/sql-logo.jpg)

# A beginner's guide to databases, SQL, & using them with `pandas`

**Scenario:** You are a data analyst for the Homeland Security, trying to create reports on the active airports world wide. The data you need to access is in a SQL database. YOu need to be able to query for the data in a database!

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use `JOIN` to merge tables along logical columns
    - Grouping Data with SQL, inlcuding `HAVING`
- Goal 5: Convert SQL to pandas

## Goal 1: Summarize

To date the data we've seen has looked like [this.](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm)

That is how we need data to look to run analysis and build models.<br>
But it doesn't _live_ there in it's native state.

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

## What does it mean to **Engineer Data**?

Let's start with a basic scenario:<br>
You are HR. You have *no* current database. 
How would you set it up?

Data needs considerations:
- What you want to store
- What "views" you anticipate wanting in the future

Structure considerations:
- Speed of retrieval
- How much data you are accessing
- How much you are storing

![etl](img/etl.png)

[img source: Jeff Hammerbacher’s slide from UC Berkeley CS 194 course ](https://bcourses.berkeley.edu/courses/1377158/pages/cs-194-16-introduction-to-data-science-fall-2015)

### What is a Relational Database? 

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
### SQL Readings

[History of SQL](https://www.businessnewsdaily.com/5804-what-is-sql.html)

[The original SQL paper from the 1970s.](https://www.seas.upenn.edu/~zives/03f/cis550/codd.pdf)

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

***
### SQLite

<img src="img/SQLite-Python.jpg" width=500>

- C library (fast)
- lightweight disk-based database
- that doesn’t require a separate server process
- nonstandard variant of the SQL query language
- applications can use SQLite for internal data storage
- use case: prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle

[sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## But what about connecting to database servers?

To connect to other database types there are many different libraries:
- Oracle: [cx_Oracle](https://oracle.github.io/python-cx_Oracle/)
- MySQL: [MySQL-python](https://github.com/farcepest/MySQLdb1)
- PostgreSQL: [Psycopg2](http://initd.org/psycopg/docs/)
- Microsoft SQL Server: [pymssql](http://www.pymssql.org/en/stable/)

These all implement [PEP 249: DB API v2](https://www.python.org/dev/peps/pep-0249/)

## Goal 3: Get going with sqlite!

In [1]:
import sqlite3

#### Load a DB object with `connect` and `cursor`

In [2]:
con = sqlite3.connect('data/flights.db')
cursor = con.cursor()

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

In [3]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('airports',), ('airlines',), ('routes',)]

In [4]:
cursor.description

(('name', None, None, None, None, None, None),)

In [5]:
cursor.execute("SELECT name, type FROM sqlite_master;")
print(cursor.fetchall())

[('airports', 'table'), ('ix_airports_index', 'index'), ('airlines', 'table'), ('ix_airlines_index', 'index'), ('routes', 'table'), ('ix_routes_index', 'index')]

In [6]:
cursor.execute("SELECT * FROM sqlite_master;")
results = cursor.fetchall()
for res in results:
    print(res)

('table', 'airports', 'airports', 2, 'CREATE TABLE airports (\n[index] INTEGER,\n  [id] TEXT,\n  [name] TEXT,\n  [city] TEXT,\n  [country] TEXT,\n  [code] TEXT,\n  [icao] TEXT,\n  [latitude] TEXT,\n  [longitude] TEXT,\n  [altitude] TEXT,\n  [offset] TEXT,\n  [dst] TEXT,\n  [timezone] TEXT\n)')
('index', 'ix_airports_index', 'airports', 3, 'CREATE INDEX ix_airports_index ON airports ([index])')
('table', 'airlines', 'airlines', 945, 'CREATE TABLE airlines (\n[index] INTEGER,\n  [id] TEXT,\n  [name] TEXT,\n  [alias] TEXT,\n  [iata] TEXT,\n  [icao] TEXT,\n  [callsign] TEXT,\n  [country] TEXT,\n  [active] TEXT\n)')
('index', 'ix_airlines_index', 'airlines', 946, 'CREATE INDEX ix_airlines_index ON airlines ([index])')
('table', 'routes', 'routes', 1393, 'CREATE TABLE routes (\n[index] INTEGER,\n  [airline] TEXT,\n  [airline_id] TEXT,\n  [source] TEXT,\n  [source_id] TEXT,\n  [dest] TEXT,\n  [dest_id] TEXT,\n  [codeshare] TEXT,\n  [stops] TEXT,\n  [equipment] TEXT\n)')
('index', 'ix_routes_index', 'routes', 1394, 'CREATE INDEX ix_routes_index ON routes ([index])')

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [7]:
cursor.execute("SELECT * FROM airports as a").fetchone()

(0,
 '1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U',
 'Pacific/Port_Moresby')

In [8]:
cursor.fetchone()

(1,
 '2',
 'Madang',
 'Madang',
 'Papua New Guinea',
 'MAG',
 'AYMD',
 '-5.207083',
 '145.7887',
 '20',
 '10',
 'U',
 'Pacific/Port_Moresby')

In [19]:
for row in cursor.fetchmany(4):
    print('\t'.join([str(x) for x in row]))

38	39	Chilliwack	Chilliwack	Canada	YCW	CYCW	49.152779	-121.93889	32	-8	A	America/Vancouver
39	40	Clyde River	Clyde River	Canada	YCY	CYCY	70.486111	-68.516667	87	-5	A	America/Toronto
40	41	Fairmont Hot Springs	Coral Harbour	Canada	YZS	CYCZ	64.193333	-83.359444	2661	-5	A	America/Coral_Harbour
41	42	Dawson City	Dawson	Canada	YDA	CYDA	64.043056	-139.127778	1215	-8	A	America/Vancouver

#### Use description

In [22]:
cursor.description

(('id', None, None, None, None, None, None),
 ('seq', None, None, None, None, None, None),
 ('table', None, None, None, None, None, None),
 ('from', None, None, None, None, None, None),
 ('to', None, None, None, None, None, None),
 ('on_update', None, None, None, None, None, None),
 ('on_delete', None, None, None, None, None, None),
 ('match', None, None, None, None, None, None))

#### Or use `Pragma`
`Pragma` tool [link here](https://www.sqlite.org/pragma.html#pragma_table_info)

**output**<br>
`(column id, column name, data type, whether or not the column can be NULL, and the default value for the column)`

In [23]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
(4, 'country', 'TEXT', 0, None, 0)
(5, 'code', 'TEXT', 0, None, 0)
(6, 'icao', 'TEXT', 0, None, 0)
(7, 'latitude', 'TEXT', 0, None, 0)
(8, 'longitude', 'TEXT', 0, None, 0)
(9, 'altitude', 'TEXT', 0, None, 0)
(10, 'offset', 'TEXT', 0, None, 0)
(11, 'dst', 'TEXT', 0, None, 0)
(12, 'timezone', 'TEXT', 0, None, 0)

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

**Task:** Get the descriptive data for airlines and routes tables

In [36]:
cursor.execute("PRAGMA table_info(airlines)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'alias', 'TEXT', 0, None, 0)
(4, 'iata', 'TEXT', 0, None, 0)
(5, 'icao', 'TEXT', 0, None, 0)
(6, 'callsign', 'TEXT', 0, None, 0)
(7, 'country', 'TEXT', 0, None, 0)
(8, 'active', 'TEXT', 0, None, 0)

In [25]:
cursor.execute("PRAGMA table_info(routes)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'airline', 'TEXT', 0, None, 0)
(2, 'airline_id', 'TEXT', 0, None, 0)
(3, 'source', 'TEXT', 0, None, 0)
(4, 'source_id', 'TEXT', 0, None, 0)
(5, 'dest', 'TEXT', 0, None, 0)
(6, 'dest_id', 'TEXT', 0, None, 0)
(7, 'codeshare', 'TEXT', 0, None, 0)
(8, 'stops', 'TEXT', 0, None, 0)
(9, 'equipment', 'TEXT', 0, None, 0)

***
## Goal 4: Use basic SQL commands

### The Structure of a SQL Query

<img src='img/sql_statement.jpg'/>

### Constructing SQL queries

**`SELECT`**:  The columns you want
  - options: `DISTINCT`, using `AS` to rename columns, single number aggregates

**`FROM`:** the source tables
  - options: also uses aliasing with `AS`; joining with `[LEFT|INNER|RIGHT|FULL] JOIN ___ [ON|USING]`

**`WHERE`**: your filters
  - options: comparators like `=` & `>=`; `BETWEEN`, `IN`, `LIKE` (with wildcards `%`); booleans like `AND`, `OR`, `NOT`

**`ORDER BY`**: sorting
  - options: `ASC` (default) and `DESC`

**`LIMIT`**:  # of rows to return (pair with `OFFSET`)

**Task**: 
- Select only active airlines in the UK from the airlines table
- Select the unique list of countries with airports

In [38]:
cursor.execute("""

""")
cursor.fetchall()

[]

In [39]:
cursor.execute("""SELECT DISTINCT country FROM airports ORDER BY 1""")
print(*cursor.fetchall(), sep='\n')

('Afghanistan',)
('Albania',)
('Algeria',)
('American Samoa',)
('Angola',)
('Anguilla',)
('Antarctica',)
('Antigua and Barbuda',)
('Argentina',)
('Armenia',)
('Aruba',)
('Australia',)
('Austria',)
('Azerbaijan',)
('Bahamas',)
('Bahrain',)
('Bangladesh',)
('Barbados',)
('Belarus',)
('Belgium',)
('Belize',)
('Benin',)
('Bermuda',)
('Bhutan',)
('Bolivia',)
('Bosnia and Herzegovina',)
('Botswana',)
('Brazil',)
('British Indian Ocean Territory',)
('British Virgin Islands',)
('Brunei',)
('Bulgaria',)
('Burkina Faso',)
('Burma',)
('Burundi',)
('Cambodia',)
('Cameroon',)
('Canada',)
('Cape Verde',)
('Cayman Islands',)
('Central African Republic',)
('Chad',)
('Chile',)
('China',)
('Christmas Island',)
('Cocos (Keeling) Islands',)
('Colombia',)
('Comoros',)
('Congo (Brazzaville)',)
('Congo (Kinshasa)',)
('Cook Islands',)
('Costa Rica',)
("Cote d'Ivoire",)
('Croatia',)
('Cuba',)
('Cyprus',)
('Czech Republic',)
('Denmark',)
('Djibouti',)
('Dominica',)
('Dominican Republic',)
('East Timor',)
('Ecuador',)
('Egypt',)
('El Salvador',)
('Equatorial Guinea',)
('Eritrea',)
('Estonia',)
('Ethiopia',)
('Falkland Islands',)
('Faroe Islands',)
('Fiji',)
('Finland',)
('France',)
('French Guiana',)
('French Polynesia',)
('Gabon',)
('Gambia',)
('Georgia',)
('Germany',)
('Ghana',)
('Gibraltar',)
('Greece',)
('Greenland',)
('Grenada',)
('Guadeloupe',)
('Guam',)
('Guatemala',)
('Guernsey',)
('Guinea',)
('Guinea-Bissau',)
('Guyana',)
('Haiti',)
('Honduras',)
('Hong Kong',)
('Hungary',)
('Iceland',)
('India',)
('Indonesia',)
('Iran',)
('Iraq',)
('Ireland',)
('Isle of Man',)
('Israel',)
('Italy',)
('Jamaica',)
('Japan',)
('Jersey',)
('Johnston Atoll',)
('Jordan',)
('Kazakhstan',)
('Kenya',)
('Kiribati',)
('Korea',)
('Kuwait',)
('Kyrgyzstan',)
('Laos',)
('Latvia',)
('Lebanon',)
('Lesotho',)
('Liberia',)
('Libya',)
('Lithuania',)
('Luxembourg',)
('Macau',)
('Macedonia',)
('Madagascar',)
('Malawi',)
('Malaysia',)
('Maldives',)
('Mali',)
('Malta',)
('Marshall Islands',)
('Martinique',)
('Mauritania',)
('Mauritius',)
('Mayotte',)
('Mexico',)
('Micronesia',)
('Midway Islands',)
('Moldova',)
('Monaco',)
('Mongolia',)
('Montenegro',)
('Montserrat',)
('Morocco',)
('Mozambique',)
('Myanmar',)
('Namibia',)
('Nauru',)
('Nepal',)
('Netherlands',)
('Netherlands Antilles',)
('New Caledonia',)
('New Zealand',)
('Nicaragua',)
('Niger',)
('Nigeria',)
('Niue',)
('Norfolk Island',)
('North Korea',)
('Northern Mariana Islands',)
('Norway',)
('Oman',)
('Pakistan',)
('Palau',)
('Palestine',)
('Panama',)
('Papua New Guinea',)
('Paraguay',)
('Peru',)
('Philippines',)
('Poland',)
('Portugal',)
('Puerto Rico',)
('Qatar',)
('Reunion',)
('Romania',)
('Russia',)
('Rwanda',)
('Saint Helena',)
('Saint Kitts and Nevis',)
('Saint Lucia',)
('Saint Pierre and Miquelon',)
('Saint Vincent and the Grenadines',)
('Samoa',)
('Sao Tome and Principe',)
('Saudi Arabia',)
('Senegal',)
('Serbia',)
('Seychelles',)
('Sierra Leone',)
('Singapore',)
('Slovakia',)
('Slovenia',)
('Solomon Islands',)
('Somalia',)
('South Africa',)
('South Georgia and the Islands',)
('South Korea',)
('South Sudan',)
('Spain',)
('Sri Lanka',)
('Sudan',)
('Suriname',)
('Svalbard',)
('Swaziland',)
('Sweden',)
('Switzerland',)
('Syria',)
('Taiwan',)
('Tajikistan',)
('Tanzania',)
('Thailand',)
('Togo',)
('Tonga',)
('Trinidad and Tobago',)
('Tunisia',)
('Turkey',)
('Turkmenistan',)
('Turks and Caicos Islands',)
('Tuvalu',)
('Uganda',)
('Ukraine',)
('United Arab Emirates',)
('United Kingdom',)
('United States',)
('Uruguay',)
('Uzbekistan',)
('Vanuatu',)
('Venezuela',)
('Vietnam',)
('Virgin Islands',)
('Wake Island',)
('Wallis and Futuna',)
('West Bank',)
('Western Sahara',)
('Yemen',)
('Zambia',)
('Zimbabwe',)

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

<img src="img/venn.png" width=550>

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

In [40]:
cursor.execute("""
SELECT r.*,a.latitude AS source_lat,a.longitude as source_long
FROM routes r
JOIN airports a ON r.source_id = a.id
""")
print(*cursor.fetchmany(10), sep='\n')

(0, '2B', '410', 'AER', '2965', 'KZN', '2990', None, '0', 'CR2', '43.449928', '39.956589')
(1, '2B', '410', 'ASF', '2966', 'KZN', '2990', None, '0', 'CR2', '46.283333', '48.006278')
(2, '2B', '410', 'ASF', '2966', 'MRV', '2962', None, '0', 'CR2', '46.283333', '48.006278')
(3, '2B', '410', 'CEK', '2968', 'KZN', '2990', None, '0', 'CR2', '55.305836', '61.503333')
(4, '2B', '410', 'CEK', '2968', 'OVB', '4078', None, '0', 'CR2', '55.305836', '61.503333')
(5, '2B', '410', 'DME', '4029', 'KZN', '2990', None, '0', 'CR2', '55.408611', '37.906111')
(6, '2B', '410', 'DME', '4029', 'NBC', '6969', None, '0', 'CR2', '55.408611', '37.906111')
(7, '2B', '410', 'DME', '4029', 'TGK', '\\N', None, '0', 'CR2', '55.408611', '37.906111')
(8, '2B', '410', 'DME', '4029', 'UUA', '6160', None, '0', 'CR2', '55.408611', '37.906111')
(9, '2B', '410', 'EGO', '6156', 'KGD', '2952', None, '0', 'CR2', '50.6438', '36.5901')

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest amount of active airlines?
- Which countries have the highest amount of inactive airlines?
- What about airports by timezones?

In [53]:
# Which countries have the highest amount of active airports?
cursor.execute("""
SELECT airports.country,count(active)
FROM airports, airlines.active
WHERE active ='N'
GROUP BY airports.country
ORDER BY count(active) ASC

""")
print(*cursor.fetchall(), sep='\n')

OperationalError: no such table: airlines.active

In [52]:
# Which countries have the highest amount of inactive airports?
cursor.execute("""
SELECT country,count(active)
FROM airlines
WHERE active='N'
JOIN 
GROUP BY country
ORDER BY count(active) ASC
LIMIT 200
""")
print(*cursor.fetchall(), sep='\n')

(' Boonville Stage Line', 1)
('ACOM', 1)
('ACTIVE AERO', 1)
('AEROCENTER', 1)
('AEROCESAR', 1)
('AEROPERLAS', 1)
('AEROPUMA', 1)
('AEROSOL', 1)
('AEROSUN', 1)
('AEROVARADERO', 1)
('AEROWEE', 1)
('AIR CLASS', 1)
('AIR FREIGHTER', 1)
('AIR PRINT', 1)
('AIR-MAUR', 1)
('AIREX', 1)
('AIRFLIGHT', 1)
('AIRMAN', 1)
('AIRNAT', 1)
('AIRPAC', 1)
('AIRPORT HELICOPTER', 1)
('AIRWAVE', 1)
('ALAMO', 1)
('ALASKA PACIFIC', 1)
('ALCON', 1)
('ALDAWLYH AIR', 1)
('ALL STAR', 1)
('ALNACIONAL', 1)
('ANTARES', 1)
('APPALACHIAN', 1)
('AQUILINE', 1)
('ARIZAIR', 1)
('ARMSTRONG', 1)
('ASA PESADA', 1)
('ASTORIA', 1)
('ASUR', 1)
('ATCO', 1)
('ATLANTIC NICARAGUA', 1)
('ATLANTIS CANADA', 1)
('AUDI AIR', 1)
('AURORA AIR', 1)
('AUSA', 1)
('AVEMEX', 1)
('AVINOR', 1)
('AVIOQUINTANA', 1)
('AZIMUT', 1)
('Air S', 1)
('Belize', 1)
('Bermuda', 1)
('COMPANY AS', 1)
('Cayman Islands', 1)
('Congo (Brazzaville)', 1)
('Cook Islands', 1)
("Cote d'Ivoire", 1)
('Faroe Islands', 1)
('Hong Kong', 1)
('Jamaica', 1)
('Kiribati', 1)
('Kuwait', 1)
('LAP', 1)
('Macao', 1)
('Mauritius', 1)
('Monaco', 1)
('Montenegro', 1)
('Montserrat', 1)
('Nauru', 1)
('ODINN', 1)
('Paraguay', 1)
('RENTAXEL', 1)
('Russia]]', 1)
('Russian Federation', 1)
('SCHEFF', 1)
('SWISSBIRD', 1)
('Saint Kitts and Nevis', 1)
('Saint Vincent and the Grenadines', 1)
('Taiwan', 1)
('Trinidad and Tobago', 1)
('UNIFORM OSCAR', 1)
('UNited Kingdom', 1)
('VELES', 1)
('Vietnam', 1)
('WATCHDOG', 1)
('Yemen', 1)
('\\N', 1)
('Albania', 2)
('Bosnia and Herzegovina', 2)
('Burundi', 2)
('Cape Verde', 2)
('Comoros', 2)
('Hong Kong SAR of China', 2)
('Lao Peoples Democratic Republic', 2)
('Madagascar', 2)
('Palau', 2)
('Qatar', 2)
('Saint Lucia', 2)
('Solomon Islands', 2)
('Tonga', 2)
('Turkmenistan', 2)
('Antigua and Barbuda', 3)
('Azerbaijan', 3)
('Cuba', 3)
('Fiji', 3)
('Liberia', 3)
('Malawi', 3)
('Maldives', 3)
('Morocco', 3)
('Niger', 3)
('Papua New Guinea', 3)
('Republic of Korea', 3)
('Saudi Arabia', 3)
('Singapore', 3)
('Togo', 3)
('Afghanistan', 4)
('Algeria', 4)
('Aruba', 4)
('Cameroon', 4)
('Ethiopia', 4)
('Guyana', 4)
('Macedonia', 4)
('Malta', 4)
('Netherlands Antilles', 4)
('Nicaragua', 4)
('Oman', 4)
('Republic of the Congo', 4)
('Sri Lanka', 4)
('Syrian Arab Republic', 4)
('Tunisia', 4)
('Turks and Caicos Islands', 4)
('Zimbabwe', 4)
('Benin', 5)
('Central African Republic', 5)
('Cyprus', 5)
('El Salvador', 5)
('Estonia', 5)
('Guatemala', 5)
('Honduras', 5)
('Jordan', 5)
('Mongolia', 5)
('Mozambique', 5)
('Nepal', 5)
('Netherland', 5)
('Panama', 5)
('Rwanda', 5)
('S', 5)
('Slovenia', 5)
('Somali Republic', 5)
('Suriname', 5)
('Tajikistan', 5)
('Bahamas', 6)
('Bolivia', 6)
('Burkina Faso', 6)
('Costa Rica', 6)
('Djibouti', 6)
('Gambia', 6)
('Sao Tome and Principe', 6)
('Swaziland', 6)
('Tanzania', 6)
('Belarus', 7)
('Finland', 7)
('Malaysia', 7)
('Bahrain', 8)
('Barbados', 8)
('Chad', 8)
('Croatia', 8)
('Guinea-Bissau', 8)
('Democratic Republic of Congo', 9)
('India', 9)
('Latvia', 9)
('Mali', 9)
('Romania', 9)
('Uruguay', 9)
('Uzbekistan', 9)
('Bangladesh', 10)
('Equatorial Guinea', 10)
('Gabon', 10)
('Namibia', 10)
('Serbia', 10)
('Guinea', 11)
('Iceland', 11)
('Luxembourg', 11)
('Cambodia', 12)
('Georgia', 12)
('Poland', 12)
('Senegal', 12)
(None, 13)
('Lebanon', 13)
('Lithuania', 13)
('Philippines', 13)
('Argentina', 14)
('Haiti', 14)
('Slovakia', 14)
('Armenia', 15)
('Hungary', 15)
('Ivory Coast', 15)
('Peru', 15)
('Israel', 16)
('Ghana', 17)
('Moldova', 17)
('Democratic Republic of the Congo', 19)
('Ecuador', 19)

In [ ]:
# What about airports by timezones?
cursor.execute("""
-- your code here;""")
print(*cursor.fetchall(), sep='\n')

In [ ]:
# It's always a good idea to close our connections when we're done
cursor.close()
con.close()

## Goal 5: Transfering from sqlite to pandas

In [41]:
import pandas as pd

In [43]:
pd_con = sqlite3.connect("data/flights.db")
df = pd.read_sql_query("select * from airports limit 5;", pd_con)
df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby

**Task**: 
Convert one of the earlier queries in the lesson to a pandas data frame

In [ ]:
# Which countries have the highest amount of active airports?
sql = '''
-- YOUR CODE HERE
'''
pd.read_sql_query(sql, conn)

In [ ]:
pd_con.close()

## Bonus: SQL-like querying in Pandas

`.query()`

[query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

In [ ]:
# Get data for an example
import pandas as pd
shelter_data=pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [ ]:
max_data = shelter_data.query('Name == "Max"')
max_data.head()

In [ ]:
#vs
shelter_data[shelter_data['Name']=="Max"].head()

In [ ]:
shelter_data.query('`Animal Type` == "Dog"').head()